<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!--  组件扫描  -->
    <context:component-scan base-package="com">
        <!--  排除使用@Controller注解的类      -->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>


    <!--  配置数据源  -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- 配置MyBatis的SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--    加载MyBatis的配置文件    -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>

    <!--  相当于MyBatis配置文件中mappers标签下的 <package name="com.mapper"/> -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mapper"/>
    </bean>

    <!--  配置平台事务管理器 jdbc 和 MyBatis 可以使用  -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--  通知 事务的增强  -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!--    设置事务的属性信息    -->
        <tx:attributes>
            <!--   表示任意方法都配置 更新级别REPEATABLE_READ  传播级别REQUIRED  不是只读  -->
            <tx:method name="*" isolation="REPEATABLE_READ" propagation="REQUIRED" read-only="false"/>
        </tx:attributes>
    </tx:advice>

    <!--  配置事务的AOP  -->
    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.service.impl.*.save(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.service.impl.*.update(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.service.impl.*.delete*(..))"/>
    </aop:config>

</beans>